@*@model LaunchSitecore.Models.VisitInformation*@
<div id="flushSessionArea" class="pull-left anav">
    <a id="flushSession" href="/flush" class="btn btn-danger">
        <i class="icon-off"></i> Flush
    </a>
</div>